@model PageDataSet<Base_User>
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="ibox-content">
    <div class="header">
        <div class="btn-left">
            <button class="btn btn-primary" title="删除">
                <i class="fa fa-trash"></i> 删除
            </button>
        </div>
        <div class="btn-right"></div>
    </div>
    <table width="100%" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th width="3%" class="text-center">
                    <input type="checkbox" name="checkAllControl" title="全选" />
                </th>
                <th>登录名</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>手机</th>
                <th>创建时间</th>
                <th>最后登录时间</th>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center"><input type="checkbox" name="checkSingle" /></td>
                        <td>@item.LoginName</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <th>@item.Phone</th>
                        <td>@item.CreateDate.ToString("yyyy/MM/dd HH:mm")</td>
                        <td>@item.LastLoginDate.ToString("yyyy/MM/dd HH:mm")</td>
                        <td>
                            <button class="btn btn-sm btn-danger" onclick="UserDelete(@item.Id)">删除</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>

    function UserDelete(id) {
        if (confirm("确定删除吗?")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "User")',
                dataType: "json",
                async: true,
                data: { userId: id },
                success: function (data) {
                    if (data.status == "1") {
                        alert(data.message);
                    } else {
                        alert(data.message);
                        return;
                    }

                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }
</script>