@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!--idx left-->
<div class="idxleft">
    <!--class-->
    <div class="classBox">
        @Html.Action("_TeacherCategory")
    </div>
    <!--end class-->
    <div class="clear10">
    </div>
    <!--xxclass-->
    <div class="xxClass">
        <div class="tit">
            <ul>
                <li class="on">高校分类</li>
                <li>区域分类</li>
            </ul>
        </div>
        <div class="content">
            <ul>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c190_f0_g1/" title="青岛大学家教">
                        青岛大学
                    </a>
                </li>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c191_f0_g1/" title="中国海洋大学家教">
                        中国海洋大学
                    </a>
                </li>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c192_f0_g1/" title="青岛科技大学家教">
                        青岛科技大学
                    </a>
                </li>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c193_f0_g1/" title="青岛理工大学家教">
                        青岛理工大学
                    </a>
                </li>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c194_f0_g1/" title="酒店管理学院家教">
                        酒店管理学院
                    </a>
                </li>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c195_f0_g1/" title="远洋船员学院家教">
                        远洋船员学院
                    </a>
                </li>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c196_f0_g1/" title="中鲁工商学院家教">
                        中鲁工商学院
                    </a>
                </li>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c197_f0_g1/" title="青岛农业大学家教">
                        青岛农业大学
                    </a>
                </li>

                <li>
                    <a href="http://qd.ygjj.com/jy_a0_s0_c198_f0_g1/" title="求实学院家教">
                        求实学院
                    </a>
                </li>

            </ul>
            <ul class="hide">

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2914_s0_c0_f0_g1/" title="东部家教">
                        东部家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2915_s0_c0_f0_g1/" title="市南家教">
                        市南家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2916_s0_c0_f0_g1/" title="市北家教">
                        市北家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2917_s0_c0_f0_g1/" title="四方家教">
                        四方家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2918_s0_c0_f0_g1/" title="李沧家教">
                        李沧家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2919_s0_c0_f0_g1/" title="崂山家教">
                        崂山家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2920_s0_c0_f0_g1/" title="城阳家教">
                        城阳家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2921_s0_c0_f0_g1/" title="黄岛家教">
                        黄岛家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2922_s0_c0_f0_g1/" title="胶南家教">
                        胶南家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2923_s0_c0_f0_g1/" title="胶州家教">
                        胶州家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2924_s0_c0_f0_g1/" title="平度家教">
                        平度家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2925_s0_c0_f0_g1/" title="莱西家教">
                        莱西家教
                    </a>
                </li>

                <li class="a1">
                    <a href="http://qd.ygjj.com/jy_a2926_s0_c0_f0_g1/" title="即墨家教">
                        即墨家教
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!--end xxclass-->
    <div class="clear10">
    </div>
    <!--search-->
    <div class="serchBox">
        <div class="tit">
            <ul>
                <li class="on">快速搜索</li>
                <li>&nbsp;</li>
            </ul>
        </div>
        <div class="content">
            <div class="ipt">
                <input name="txtjybh" value="教员编号：" id="txtjybh" class="txt" type="text">
                <input value="搜 索" class="btn" id="btnjybh" type="button">
            </div>
            <div class="ipt ipt2">
                <input name="txtxybh" value="订单编号：" id="txtxybh" class="txt" type="text">
                <input value="搜 索" class="btn" id="btnxybh" type="button">
            </div>
        </div>
    </div>
    <!--end search-->
</div>
<!-- end idx left-->
<!--idx mid-->
<div class="idxmid">
    <div class="banner">
        <div id="foucsBox">
            <ul class="imgCon" style="width: 550px; margin-left: 0px;">
                <!--展示图片开始-->

                <li>
                    <a href="http://qd.ygjj.com/Join" target="_blank" rel="nofollow">
                        <img src="~/Content/Images/b6.jpg" style="z-index: -1;" height="300" width="550">
                    </a>
                    <div class="imgTitle">
                        <a href="http://qd.ygjj.com/Join" target="_blank" rel="nofollow">开启属于您的私人定制</a>
                    </div>
                    <div class="showPage">
                    </div>
                </li>

                <!--展示图片结束-->
            </ul>
            <div class="foucs"><span class="f"></span></div>
            <div class="rBtn foucsButton">
                <span></span>

            </div>
            <div class="lBtn foucsButton">
                <span></span>
                <img src="Home_files/b6.jpg">
            </div>
        </div>
    </div>
    <div class="clear10">
    </div>
    <!--jxfc-->
    <div class="jxfc">
        <div class="jxhead">
            <h3>
                教学风采
            </h3>
            <a href="http://qd.ygjj.com/Teachers.aspx?photo=1" class="more">更多+</a>
        </div>
        <div class="content">
            <div class="scrollcontainer">
                <ul style="left: 0px;">

                    <li>
                        <a href="http://qd.ygjj.com/T451016.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew451016-20120305215901238951.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">17177</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T128171.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew128171-20080201201832879918.JPG">
                            </div>
                            <p>
                                编号：<span class="bh">8098</span>
                            </p>
                            <p>
                                专职教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T145104.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew145104-20080410235637408382.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">9434</span>
                            </p>
                            <p>
                                其他教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T139518.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew139518-20080320223159783761.JPG">
                            </div>
                            <p>
                                编号：<span class="bh">8863</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T488096.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew488096-20130220232154818134.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">17527</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T446690.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew446690-20111208111916976231.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">17136</span>
                            </p>
                            <p>
                                其他教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T225385.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew225385-20090110025217615291.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">14025</span>
                            </p>
                            <p>
                                其他教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T520779.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew520779-20141004131358494734.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">17778</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T99237.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew99237-20080724201959770661.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">5789</span>
                            </p>
                            <p>
                                专职教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T402590.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew402590-20110404193909868338.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">16503</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T453017.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew453017-20120221142900382220.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">17196</span>
                            </p>
                            <p>
                                其他教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T472841.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew472841-20120725093052134382.JPG">
                            </div>
                            <p>
                                编号：<span class="bh">17380</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T522909.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew522909-20141215205446645822.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">17800</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T124711.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew124711-20080110175500127299.JPG">
                            </div>
                            <p>
                                编号：<span class="bh">7842</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="http://qd.ygjj.com/T119292.html" target="_blank">
                            <div>
                                <img src="Home_files/Thumbnailnew119292-20080115170837871621.jpg">
                            </div>
                            <p>
                                编号：<span class="bh">7351</span>
                            </p>
                            <p>
                                在校教员
                            </p>
                        </a>
                    </li>

                </ul>
            </div>
            <a class="abtn aleft" href="#left">左移</a> <a class="abtn aright" href="#right">右移</a>
        </div>
    </div>
    <!--end jxfc-->
    <div class="clear10">
    </div>
    <!--rec-->
    <div class="recBox">
        <div class="recontent">
            <div class="tit">
                <h2>
                    专职教师家教
                </h2>
                <a href="http://qd.ygjj.com/jy_a0_s0_c0_f1_g1/" class="more">更多+</a>
            </div>
            <div class="items">
                <div class="clear20">
                </div>

                <div class="item">
                    <div class="tx">
                        <a href="http://qd.ygjj.com/T531880.html" target="_blank">
                            <img src="Home_files/head531880-20150807000942900401.jpg" border="0">
                        </a>
                    </div>
                    <a href="http://qd.ygjj.com/T531880.html" target="_blank">
                        <div class="con">
                            <ul>
                                <li>编号：<span class="bh">17848</span></li>
                                <li>任职学校：非本市 市重点高中</li>
                                <li>身份：<span class="cf60">在职初中教师</span></li>
                                <li>专业：英语</li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="item ml15">
                    <div class="tx">
                        <a href="http://qd.ygjj.com/T539582.html" target="_blank">
                            <img src="Home_files/head539582-20160203213147429406.JPG" border="0">
                        </a>
                    </div>
                    <a href="http://qd.ygjj.com/T539582.html" target="_blank">
                        <div class="con">
                            <ul>
                                <li>编号：<span class="bh">17908</span></li>
                                <li>任职学校：非本市 高等院校</li>
                                <li>身份：<span class="cf60">离职大学教师</span></li>
                                <li>专业：音乐学 古筝表演</li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <div class="tx">
                        <a href="http://qd.ygjj.com/T554449.html" target="_blank">
                            <img src="Home_files/head554449-20161009175001123812.JPG" border="0">
                        </a>
                    </div>
                    <a href="http://qd.ygjj.com/T554449.html" target="_blank">
                        <div class="con">
                            <ul>
                                <li>编号：<span class="bh">18056</span></li>
                                <li>任职学校：本市 专业培训机构</li>
                                <li>身份：<span class="cf60">在职专业培训机构教师</span></li>
                                <li>专业：软件工程</li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="item ml15">
                    <div class="tx">
                        <a href="http://qd.ygjj.com/T541913.html" target="_blank">
                            <img src="Home_files/head541913-20160329071201657450.jpg" border="0">
                        </a>
                    </div>
                    <a href="http://qd.ygjj.com/T541913.html" target="_blank">
                        <div class="con">
                            <ul>
                                <li>编号：<span class="bh">17937</span></li>
                                <li>任职学校：非本市 中等院校</li>
                                <li>身份：<span class="cf60">离职初中教师</span></li>
                                <li>专业：音乐学</li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="clear">
                </div>
            </div>
            <div class="tit">
                <h2>
                    大学生家教
                </h2>
                <a href="http://qd.ygjj.com/jy_a0_s0_c0_f2_g1/" class="more">更多+</a>
            </div>
            <div class="items">
                <div class="clear20">
                </div>

                <div class="item">
                    <div class="tx">
                        <a href="http://qd.ygjj.com/T541383.html" target="_blank">
                            <img src="Home_files/head541383-20160317162905625107.jpg" border="0">
                        </a>
                    </div>
                    <a href="http://qd.ygjj.com/T541383.html" target="_blank">
                        <div class="con">
                            <ul>
                                <li>编号：<span class="bh">17927</span></li>
                                <li>所读学校：中国石油大学</li>
                                <li>身份：<span class="cf60">在校大四学生</span></li>
                                <li>时间：10-27</li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="item ml15">
                    <div class="tx">
                        <a href="http://qd.ygjj.com/T541894.html" target="_blank">
                            <img src="Home_files/head541894-20160328194814391567.jpg" border="0">
                        </a>
                    </div>
                    <a href="http://qd.ygjj.com/T541894.html" target="_blank">
                        <div class="con">
                            <ul>
                                <li>编号：<span class="bh">17936</span></li>
                                <li>所读学校：青岛大学</li>
                                <li>身份：<span class="cf60">在校大四学生</span></li>
                                <li>时间：10-27</li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <div class="tx">
                        <a href="http://qd.ygjj.com/T542962.html" target="_blank">
                            <img src="Home_files/head542962-20160417213357615362.jpg" border="0">
                        </a>
                    </div>
                    <a href="http://qd.ygjj.com/T542962.html" target="_blank">
                        <div class="con">
                            <ul>
                                <li>编号：<span class="bh">17956</span></li>
                                <li>所读学校：青岛工学院</li>
                                <li>身份：<span class="cf60">在校大二学生</span></li>
                                <li>时间：10-27</li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="item ml15">
                    <div class="tx">
                        <a href="http://qd.ygjj.com/T542686.html" target="_blank">
                            <img src="Home_files/head542686-20160412134722903021.jpg" border="0">
                        </a>
                    </div>
                    <a href="http://qd.ygjj.com/T542686.html" target="_blank">
                        <div class="con">
                            <ul>
                                <li>编号：<span class="bh">17952</span></li>
                                <li>所读学校：青岛理工大学</li>
                                <li>身份：<span class="cf60">在校大四学生</span></li>
                                <li>时间：10-27</li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="clear">
                </div>
            </div>
        </div>
    </div>
    <!--end rec-->
    <!--zxxy-->
    <div class="zxxy">
        <div class="zxhead">
            <h2>
                最新家教兼职
            </h2>
            <a href="http://qd.ygjj.com/xy_a0_s0_x0_t0_g1/" class="more">更多+</a>
        </div>
        <div class="lst">

            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            辅导科目
                        </th>
                        <th>
                            地址
                        </th>
                        <th>
                            教员资格
                        </th>
                        <th>
                            时间
                        </th>
                        <th>
                            查看
                        </th>
                    </tr>

                    <tr class="">
                        <td>
                            <a href="http://qd.ygjj.com/O332541.html" target="_blank">
                                6305
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332541.html" target="_blank" title="数学">
                                初二数学
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332541.html" target="_blank">
                                东部
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332541.html" target="_blank" title="对历年的考试类型熟悉，可以有针对性的指导孩子，能够耐心，细心，能帮助孩子培养学习兴趣和主动思考的能力。">
                                对历年的考试类型熟悉，可
                            </a>
                        </td>
                        <td>
                            10-26
                        </td>
                        <td width="40">
                            <div class="look">
                                <a href="http://qd.ygjj.com/O332541.html" target="_blank">
                                    &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>

                    <tr class="r2">
                        <td>
                            <a href="http://qd.ygjj.com/O332476.html" target="_blank">
                                6304
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332476.html" target="_blank" title="语文">
                                语文
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332476.html" target="_blank">
                                黄岛
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332476.html" target="_blank" title="">
                            </a>
                        </td>
                        <td>
                            10-25
                        </td>
                        <td width="40">
                            <div class="look">
                                <a href="http://qd.ygjj.com/O332476.html" target="_blank">
                                    &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>

                    <tr class="">
                        <td>
                            <a href="http://qd.ygjj.com/O332459.html" target="_blank">
                                6302
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332459.html" target="_blank" title="英语">
                                英语
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332459.html" target="_blank">
                                胶州
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332459.html" target="_blank" title="">
                            </a>
                        </td>
                        <td>
                            10-25
                        </td>
                        <td width="40">
                            <div class="look">
                                <a href="http://qd.ygjj.com/O332459.html" target="_blank">
                                    &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>

                    <tr class="r2">
                        <td>
                            <a href="http://qd.ygjj.com/O332440.html" target="_blank">
                                6301
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332440.html" target="_blank" title="商务英语">
                                高一商务英语
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332440.html" target="_blank">
                                市北
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O332440.html" target="_blank" title="">
                            </a>
                        </td>
                        <td>
                            10-25
                        </td>
                        <td width="40">
                            <div class="look">
                                <a href="http://qd.ygjj.com/O332440.html" target="_blank">
                                    &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>

                    <tr class="">
                        <td>
                            <a href="http://qd.ygjj.com/O331713.html" target="_blank">
                                6300
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O331713.html" target="_blank" title="英语">
                                初三英语
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O331713.html" target="_blank">
                                城阳
                            </a>
                        </td>
                        <td>
                            <a href="http://qd.ygjj.com/O331713.html" target="_blank" title="">
                            </a>
                        </td>
                        <td>
                            10-16
                        </td>
                        <td width="40">
                            <div class="look">
                                <a href="http://qd.ygjj.com/O331713.html" target="_blank">
                                    &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <!--end jxfc-->
</div>
<!--end idx mid-->
<!--idx right-->
<div class="idxright">
    @Html.Action("_QuickLogin")
    @Html.Action("_ContractService")
    @Html.Action("_Help")           @*帮助中心*@
    @Html.Action("_LastestTeachRecord")    @*最新成交家教记录*@
    @Html.Action("_LastestTeacher") @*最新注册教员*@
</div>
<!--end idx right-->
<div class="clear5">
</div>
<div class="hot_news">
    <div class="tempWrap" style="overflow:hidden; position:relative; width:980px">
        <div class="bd" style="width: 2940px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -980px;">
            <dl class="clone" style="float: left; width: 470px;">
                <dt><a href="http://qd.ygjj.com/zx/3/24/1" title="家教高中资讯">高中资讯</a></dt>

                <dd>
                    <span>
                        2016/05/24
                    </span><a href="http://qd.ygjj.com/D421627.html" target="_blank" title="中小学语文教材将大幅修改">中小学语文教材将大幅修改</a>
                </dd>

                <dd>
                    <span>
                        2016/05/23
                    </span><a href="http://qd.ygjj.com/D421450.html" target="_blank" title="孩子不会写作文？掌握这些词语，作文轻松搞定！">孩子不会写作文？掌握这些词语，作文轻松搞定！</a>
                </dd>

                <dd>
                    <span>
                        2016/05/20
                    </span><a href="http://qd.ygjj.com/D421238.html" target="_blank" title="孩子上兴趣班的最佳年龄汇总，每个爸妈都应该看看！">孩子上兴趣班的最佳年龄汇总，每个爸妈都应该看看！</a>
                </dd>

                <dd>
                    <span>
                        2016/05/19
                    </span><a href="http://qd.ygjj.com/D421114.html" target="_blank" title="你把课堂上和书本上学到的知识都忘记了，还剩下什么？">你把课堂上和书本上学到的知识都忘记了，还剩下什么？</a>
                </dd>

                <dd>
                    <span>
                        2016/05/18
                    </span><a href="http://qd.ygjj.com/D420911.html" target="_blank" title="知道这些，你才能真正成为一个很厉害的人">知道这些，你才能真正成为一个很厉害的人</a>
                </dd>

            </dl>
            <dl style="float: left; width: 470px;">
                <dt><a href="http://qd.ygjj.com/zx/1/24/1" title="家教小学资讯">小学资讯</a></dt>

                <dd>
                    <span>
                        2016/05/24
                    </span><a href="http://qd.ygjj.com/D421743.html" target="_blank" title="买学区房，上名校，精英教育这条路，我们要去挤吗？">买学区房，上名校，精英教育这条路，我们要去挤吗？</a>
                </dd>

                <dd>
                    <span>
                        2016/05/24
                    </span><a href="http://qd.ygjj.com/D421603.html" target="_blank" title="高考倒计时14天：考场上10个细节做到速提50分">高考倒计时14天：考场上10个细节做到速提50分</a>
                </dd>

                <dd>
                    <span>
                        2016/05/23
                    </span><a href="http://qd.ygjj.com/D421543.html" target="_blank" title="IB成绩应该如何换算成GPA？">IB成绩应该如何换算成GPA？</a>
                </dd>

                <dd>
                    <span>
                        2016/05/23
                    </span><a href="http://qd.ygjj.com/D421433.html" target="_blank" title="美国藤校的招生价值观，中国学生真的理解吗？">美国藤校的招生价值观，中国学生真的理解吗？</a>
                </dd>

                <dd>
                    <span>
                        2016/05/20
                    </span><a href="http://qd.ygjj.com/D421353.html" target="_blank" title="教师如何弄清楚学生内心的“真实意图”">教师如何弄清楚学生内心的“真实意图”</a>
                </dd>

            </dl>
            <dl style="float: left; width: 470px;">
                <dt><a href="http://qd.ygjj.com/zx/2/24/1" title="家教初中资讯">初中资讯</a></dt>

                <dd>
                    <span>
                        2015/10/26
                    </span><a href="http://qd.ygjj.com/D299273.html" target="_blank" title="男孩女孩智力上的3大差异">男孩女孩智力上的3大差异</a>
                </dd>

                <dd>
                    <span>
                        2015/10/22
                    </span><a href="http://qd.ygjj.com/D298924.html" target="_blank" title="教育独生子女的14条秘诀">教育独生子女的14条秘诀</a>
                </dd>

                <dd>
                    <span>
                        2015/10/21
                    </span><a href="http://qd.ygjj.com/D298641.html" target="_blank" title="你知道怎么对孩子说“爱”吗？">你知道怎么对孩子说“爱”吗？</a>
                </dd>

                <dd>
                    <span>
                        2015/09/11
                    </span><a href="http://qd.ygjj.com/D287435.html" target="_blank" title="青岛四方区平安路第二小学英语老师">青岛四方区平安路第二小学英语老师</a>
                </dd>

                <dd>
                    <span>
                        2015/09/10
                    </span><a href="http://qd.ygjj.com/D282587.html" target="_blank" title="青岛市北区台东六路小学数学老师">青岛市北区台东六路小学数学老师</a>
                </dd>

            </dl>
            <dl style="float: left; width: 470px;">
                <dt><a href="http://qd.ygjj.com/zx/3/24/1" title="家教高中资讯">高中资讯</a></dt>

                <dd>
                    <span>
                        2016/05/24
                    </span><a href="http://qd.ygjj.com/D421627.html" target="_blank" title="中小学语文教材将大幅修改">中小学语文教材将大幅修改</a>
                </dd>

                <dd>
                    <span>
                        2016/05/23
                    </span><a href="http://qd.ygjj.com/D421450.html" target="_blank" title="孩子不会写作文？掌握这些词语，作文轻松搞定！">孩子不会写作文？掌握这些词语，作文轻松搞定！</a>
                </dd>

                <dd>
                    <span>
                        2016/05/20
                    </span><a href="http://qd.ygjj.com/D421238.html" target="_blank" title="孩子上兴趣班的最佳年龄汇总，每个爸妈都应该看看！">孩子上兴趣班的最佳年龄汇总，每个爸妈都应该看看！</a>
                </dd>

                <dd>
                    <span>
                        2016/05/19
                    </span><a href="http://qd.ygjj.com/D421114.html" target="_blank" title="你把课堂上和书本上学到的知识都忘记了，还剩下什么？">你把课堂上和书本上学到的知识都忘记了，还剩下什么？</a>
                </dd>

                <dd>
                    <span>
                        2016/05/18
                    </span><a href="http://qd.ygjj.com/D420911.html" target="_blank" title="知道这些，你才能真正成为一个很厉害的人">知道这些，你才能真正成为一个很厉害的人</a>
                </dd>

            </dl>
            <dl class="clone" style="float: left; width: 470px;">
                <dt><a href="http://qd.ygjj.com/zx/1/24/1" title="家教小学资讯">小学资讯</a></dt>

                <dd>
                    <span>
                        2016/05/24
                    </span><a href="http://qd.ygjj.com/D421743.html" target="_blank" title="买学区房，上名校，精英教育这条路，我们要去挤吗？">买学区房，上名校，精英教育这条路，我们要去挤吗？</a>
                </dd>

                <dd>
                    <span>
                        2016/05/24
                    </span><a href="http://qd.ygjj.com/D421603.html" target="_blank" title="高考倒计时14天：考场上10个细节做到速提50分">高考倒计时14天：考场上10个细节做到速提50分</a>
                </dd>

                <dd>
                    <span>
                        2016/05/23
                    </span><a href="http://qd.ygjj.com/D421543.html" target="_blank" title="IB成绩应该如何换算成GPA？">IB成绩应该如何换算成GPA？</a>
                </dd>

                <dd>
                    <span>
                        2016/05/23
                    </span><a href="http://qd.ygjj.com/D421433.html" target="_blank" title="美国藤校的招生价值观，中国学生真的理解吗？">美国藤校的招生价值观，中国学生真的理解吗？</a>
                </dd>

                <dd>
                    <span>
                        2016/05/20
                    </span><a href="http://qd.ygjj.com/D421353.html" target="_blank" title="教师如何弄清楚学生内心的“真实意图”">教师如何弄清楚学生内心的“真实意图”</a>
                </dd>

            </dl><dl class="clone" style="float: left; width: 470px;">
                <dt><a href="http://qd.ygjj.com/zx/2/24/1" title="家教初中资讯">初中资讯</a></dt>

                <dd>
                    <span>
                        2015/10/26
                    </span><a href="http://qd.ygjj.com/D299273.html" target="_blank" title="男孩女孩智力上的3大差异">男孩女孩智力上的3大差异</a>
                </dd>

                <dd>
                    <span>
                        2015/10/22
                    </span><a href="http://qd.ygjj.com/D298924.html" target="_blank" title="教育独生子女的14条秘诀">教育独生子女的14条秘诀</a>
                </dd>

                <dd>
                    <span>
                        2015/10/21
                    </span><a href="http://qd.ygjj.com/D298641.html" target="_blank" title="你知道怎么对孩子说“爱”吗？">你知道怎么对孩子说“爱”吗？</a>
                </dd>

                <dd>
                    <span>
                        2015/09/11
                    </span><a href="http://qd.ygjj.com/D287435.html" target="_blank" title="青岛四方区平安路第二小学英语老师">青岛四方区平安路第二小学英语老师</a>
                </dd>

                <dd>
                    <span>
                        2015/09/10
                    </span><a href="http://qd.ygjj.com/D282587.html" target="_blank" title="青岛市北区台东六路小学数学老师">青岛市北区台东六路小学数学老师</a>
                </dd>

            </dl>
        </div>
    </div>
    <span class="prev">&lt;</span> <span class="next">&gt;</span>
</div>

<script language="javascript">
    // baidu push
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();

</script>

<script type="text/javascript" src="Home_files/jquery.js"></script>
<script type="text/javascript">
    // 隐藏过多文本
    $(".teacher_p").each(function () {
        var arr = [];
        if ($(this).height() > 21) {
            $(this).css({ "white-space": "nowrap", "cursor": "pointer" });
            $(this).after("<div class='flow_p' style='display:none;'></div>");
        };
        $(this).height(21);
    });
    // 经过显示文本
    $(".teacher_article").mouseenter(function () {
        $(this).children(".flow_p").show();
        $(this).addClass("light");
        $(this).children(".flow_p").text($(this).children(".teacher_p").text());
    }).mouseleave(function () {
        $(this).children(".flow_p").hide();
        $(this).removeClass("light");
    });
    ; $(function () {
        //$(".tabox").slide({ trigger: "click" });
        // 滚动信息
        $(".hot_news").slide({ mainCell: ".bd", autoPage: true, effect: "leftLoop", autoPlay: true, vis: 2, scroll: 1 });
        /*鼠标移过，左右按钮显示*/
        $(".hot_news").hover(function () { jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", .8) }, function () { jQuery(this).find(".prev,.next").fadeOut() });

    });
</script>
<script type="text/javascript" src="Home_files/Xslider.js"></script>
<script type="text/javascript" src="Home_files/Validform_min.js"></script>
<script type="text/javascript" src="Home_files/Comm.js"></script>
<script type="text/javascript">
    //科目
    $(".classBox2>.libox").hover(function () {
        $(this).children("div.div1").addClass("on");
        $(this).children("div.div2").show();
    }, function () {
        $(this).children("div.div1").removeClass("on");
        $(this).children("div.div2").hide();
    });
    document.getElementById('')
    //教学风采
    $(".jxfc>.content").Xslider({
        unitdisplayed: 4,
        numtoMove: 2,
        loop: "cycle"
    });

    //高校分类
    $(".xxClass>.tit>ul>li").hover(function () {
        $(".xxClass>.tit>ul>li").removeClass("on");
        $(this).addClass("on");
        $(".xxClass>.content>ul").hide();
        $(".xxClass>.content>ul:eq(" + $(this).index() + ")").show();
    });

    //搜索
    $("#txtjybh").focus(function () {
        if ($("#txtjybh").val() == "教员编号：")
            $("#txtjybh").val("");
    });
    $("#txtjybh").blur(function () {
        if ($("#txtjybh").val() == "")
            $("#txtjybh").val("教员编号：");
    });
    $("#txtxybh").focus(function () {
        if ($("#txtxybh").val() == "订单编号：")
            $("#txtxybh").val("");
    });
    $("#txtxybh").blur(function () {
        if ($("#txtxybh").val() == "")
            $("#txtxybh").val("订单编号：");
    });
    $("#btnjybh").click(function () {
        var _TeacherID = $("#txtjybh").val();
        if (_TeacherID != "教员编号：") {
            location.href = "Teachers.aspx?id=" + _TeacherID;
        }
    });
    $("#txtjybh").keydown(function () {
        if (event.keyCode == 13) {
            $("#btnjybh").click();
            return false;
        }
    });
    $("#txtxybh").keydown(function () {
        if (event.keyCode == 13) {
            $("#btnxybh").click();
            return false;
        }
    });

    $("#btnxybh").click(function () {
        var _nid = $("#txtxybh").val();
        if (_nid != "订单编号：") {
            location.href = "Orders.aspx?id=" + _nid;
        }
    });

    //
    //登录框
    $("#txtAccount").focus(function () {
        if ($("#txtAccount").val() == "用户名")
            $("#txtAccount").val("");
    });
    $("#txtAccount").blur(function () {
        if ($("#txtAccount").val() == "")
            $("#txtAccount").val("用户名");
    });

    var lmk123 = {
        com: function (con) {
            var t, imgArr = [], $lmk = $('#foucsBox'), $imgUl = $lmk.find('ul.imgCon'), $titleDiv = $lmk.find('div.showTitle'), $foucsDiv = $lmk.find('div.foucs'), $rlBtn = $lmk.find('.foucsButton'), $rBtn = $lmk.find('.rBtn'), $lBtn = $lmk.find('.lBtn'), config = {
                len: $imgUl.find('li').length,
                //自动滚动时间，默认两千毫秒（一秒等于一千毫秒）
                timeo: 4000,
                //宽，默认680px
                wid: 550,
                //高，默认380px
                hei: 300
            }, i = 0, autoChange = function () {
                $imgUl.animate({ marginLeft: '-' + i * config.wid + 'px' }, function () {
                    $foucsDiv.find('span:eq(' + i + ')').addClass('f').siblings().removeClass('f');
                    $rBtn.find('img').replaceWith(imgArr[(i === config.len - 1) ? 0 : (i + 1)]);
                    $lBtn.find('img').length !== 0 ? $lBtn.find('img:eq(0)').replaceWith(imgArr[(i === 0) ? (config.len - 1) : (i - 1)]) : $lBtn.append(imgArr[(i === 0) ? (config.len - 1) : (i - 1)]);
                    i += 1;
                    i = i === config.len ? 0 : i;
                });
            };
            $imgUl.find('img').each(function (inde, ele) {
                imgArr[inde] = new Image();
                imgArr[inde].src = $(this).attr('src');
            });
            $imgUl.css('width', config.len * config.wid);
            $foucsDiv.html(function () {
                var i, s = '';
                for (i = 0; i < config.len; i += 1) {
                    s += '<span ' + (i === 0 ? 'class="f"' : '') + '></span>';
                }
                return s;
            });
            $rBtn.find('img').replaceWith(imgArr[(i === config.len - 1) ? 0 : (i + 1)]);
            $lBtn.find('img').length !== 0 ? $lBtn.find('img:eq(0)').replaceWith(imgArr[(i === 0) ? (config.len - 1) : (i - 1)]) : $lBtn.append(imgArr[(i === 0) ? (config.len - 1) : (i - 1)]);
            t = setInterval(autoChange, config.timeo);
            $lmk.mouseenter(function () { clearInterval(t); }).mouseleave(function () { t = setInterval(autoChange, config.timeo); });
            $rlBtn.hover(function () {
                $(this).addClass('btnHover');
            }, function () {
                $(this).removeClass('btnHover');
            }).click(function () {
                i = $foucsDiv.find('span.f').index();
                if ($(this).is('.lBtn')) {
                    i = (i === 0) ? (config.len - 1) : (i - 1);
                } else {
                    i = (i === config.len - 1) ? 0 : (i + 1);
                }
                autoChange();
            });
            $foucsDiv.find('span').click(function () {
                i = $(this).index();
                autoChange();
            });
        }
    };
    //执行开始
    lmk123.com();

</script>
<script>

    $(document).ready(function () {

        $("#leftsead a").hover(function () {
            if ($(this).prop("className") == "youhui") {
                $(this).children("img.hides").show();
            } else {
                $(this).children("div.hides").show();
                $(this).children("img.shows").hide();
                $(this).children("div.hides").animate({ marginRight: '0px' }, '0');
            }
        }, function () {
            if ($(this).prop("className") == "youhui") {
                $(this).children("img.hides").hide();
            } else {
                $(this).children("div.hides").animate({ marginRight: '-163px' }, 0, function () { $(this).hide(); $(this).next("img.shows").show(); });
            }
        });

        $("#top_btn").click(function () { if (scroll == "off") return; $("html,body").animate({ scrollTop: 0 }, 600); });

        //右侧导航 - 二维码
        $(".youhui").mouseover(function () {
            $(this).children(".2wm").show();
        })
        $(".youhui").mouseout(function () {
            $(this).children(".2wm").hide();
        });


    });


</script>

<script type="text/javascript" src="Home_files/Xslider.js"></script>
<script type="text/javascript">

    //科目
    $(".classBox").hover(function () {
        $(".classBox>.class").removeClass("classOn");
        $(".classBox>.subNav").show();
    }, function () {
        $(".classBox>.subNav").hide();
        $(".classBox>.class").addClass("classOn");
    });

    $(".classBox2>.libox").hover(function () {
        $(this).children("div.div1").addClass("on");
        $(this).children("div.div2").show();
    }, function () {
        $(this).children("div.div1").removeClass("on");
        $(this).children("div.div2").hide();
    });
</script>